---
import BadgeCard from "./BadgeCard.astro";
const { overskrift } = Astro.props;
---

<div>
  <h1>{overskrift}</h1>
  <article>
    <BadgeCard titel="RNB MUSIC" />
    <BadgeCard titel="RNB MUSIC" />
    <BadgeCard titel="RNB MUSIC" />
    <BadgeCard titel="RNB MUSIC" />
  </article>
</div>
